<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Backlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
            integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
            crossorigin="anonymous"></script>

    <link href="/static/toast.js" rel="stylesheet" id="js">
    <link href="/static/loginCss.css" rel="stylesheet" id="lay-css">
    <link href="/static/indexCss.css" rel="stylesheet" id="lay-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">


</head>
<body style="background-color: var(--primary);">
<div class="wrapper">

    <!-- HEADER -->
    <header>
        <div class="netflixLogo">
            <a id="logo" href="#home"><img
                    src="https://fontmeme.com/permalink/211016/29b05e8d85570b56e5d29ff167e16ddc.png"
                    alt="Logo Image"></a>
        </div>
        <nav class="main-nav">
            <a href="#">Home</a>
            <a href="#myList">Finalizados</a>
            <a href="/adicionar">Adicionar</a>
        </nav>
    </header>
    <!-- END OF HEADER -->
    <div class="login"
         style="margin-left: 40%;margin-top: 10px;position: absolute;alignment: center;width: 100px;background-color: transparent;height: 100px;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="alert alert-light" role="alert">
        This is a light alert—check it out!
    </div>
    <!-- MAIN CONTAINER -->
    <section class="main-container">
        <div class="location" >
            <h1 style="color: #fff; margin-top: -75px;">Recomendados</h1>
            <div class="box">
                {% for jogo in datajson %}
                    <a>
                        <img style="max-height: 110px; min-height: 110px;max-width: 210px; min-width: 210px;"
                             src="{{ jogo['background_image'] }}"
                             alt="">
                        <label id="nomeJogo">{{ jogo['name'] }}</label>
                    </a>
                {% endfor %}
            </div>

        </div>


        <h1 id="myList" style="color: #fff;">Finalizados</h1>
        <div class="box">
            {% for jogo in ListJogo %}
                <form id="myBox" method='POST' action="{{ url_for('telaEditar') }} ">
                    <a>
                        <img id="imgJogo"
                             style="max-height: 110px; min-height: 110px;max-width: 210px; min-width: 210px;"
                             src="{{ jogo.imgJogo }}" alt="">
                        <label id="notaJogo">Nota: {{ jogo.notaJogo }}</label>
                        <br/>
                        <label id="nomeJogo">{{ jogo.nomeJogo }}</label>
                        <input type="hidden" name="nomeJogo" value="{{ jogo.nomeJogo }}">
                        <div class="adc-pesquisa">
                            <button id="btnEdit" type="submit" style="width: 80px" href="/editar">Editar</button>
                        </div>
                    </a>
                </form>
            {% endfor %}
        </div>


    </section>
    <!-- END OF MAIN CONTAINER -->

    <!-- LINKS -->
    <section class="link">
        <div class="logos">
            <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
        </div>
        <div class="sub-links">
            <ul>
                <li><a href="#">Audio and Subtitles</a></li>
                <li><a href="#">Audio Description</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Media Center</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Legal Notices</a></li>
                <li><a href="#">Corporate Information</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </section>
    <!-- END OF LINKS -->

</div>
</body>
</html>